<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <pipelines>
      <elision.getCanonicalUrl>
        <processor type="Elision.Feature.Library.Seo.SC.Integration.Pipelines.GetCanonicalUrl.GetCanonicalUrlForAlias, Elision.Feature.Library.Seo.SC.Integration" />
        <processor type="Elision.Feature.Library.Seo.SC.Integration.Pipelines.GetCanonicalUrl.GetCanonicalUrlFromItemField, Elision.Feature.Library.Seo.SC.Integration" />
        <processor type="Elision.Feature.Library.Seo.SC.Integration.Pipelines.GetCanonicalUrl.GetLowercaseCanonical, Elision.Feature.Library.Seo.SC.Integration" />
      </elision.getCanonicalUrl>
    </pipelines>

  </sitecore>
</configuration>
