<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <!-- added txt to allowed extensions so that our robots.txt handler can handle the request -->
          <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, txt</param>
        </processor>
      </preprocessRequest>
      
      <httpRequestBegin>
        <processor type="Elision.Feature.Library.Seo.SC.Integration.Pipelines.HttpRequestBegin.RobotsTxtHandler, Elision.Feature.Library.Seo.SC.Integration"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>

    </pipelines>
  </sitecore>
</configuration>
